
.custom-modal {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 174, 217, 0.51);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    text-align: center;
}

.toggle-modal-btn {
    margin-top: 1%;
}
.close-modal-btn{
    margin: auto;
    width: 10%;
}