
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ece3a4;
    margin-top: 5px;
}


.custom-table th, .custom-table td {
    padding: 10px;
    border: 1px solid #112370;
    text-align: center;
    color: #333;
}