
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ece3a4;
    margin-top: 5px;
}


.custom-table th, .custom-table td {
    border: 1px solid #112370;
    text-align: center;
    color: #333;
    height: 15px;
    padding: 1px 10px;
}

