body {
  background: #333;
  color: white;
}
.image-container {
  display: flex;
  justify-content: space-between;
}

.rounded-image {
  border: 2px solid rgba(59, 109, 196, 0.51);
  border-radius: 20px;
  margin: 3px;
  width: 30%;
}
